*{
    margin: 0;
    padding: 0;
}

.botao{
    background-color: green;
}

body{
    background: #f0f5f5;
}

.thanks{
    text-align: center;
}

.inner{
    padding: 10rem 5rem 5rem 10rem;
}

.centralizar{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center 
}