.botao{
    background-color: green;
}

.container{
    padding: 10rem 5rem 5rem 10rem;
    align-items: center;
    background-image: url("../img/paralaxe.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
}