*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Ubuntu;
   
}

.fundo{
    background-color: #13D227;
}

.logo img{
    width: 15%;
}

.inner{
    padding: 10px;
}

.centralizar{
    padding-bottom: 2rem;
}

.botao{
    background-color: green;
}

.btn-black{
    background: #000000;
    border-radius: 15px;
    color: #FFFFFF;
    letter-spacing: 0px;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    padding: 0.2rem;
}

.btn{
    background-color: #000000;
    border: #000000;
    color: #FFFFFF;    
    width: 150px;
    height: 50px;
    text-align: center;
    padding: 10px;
    
}

.ebook{
    display: flex;
    justify-content: center;
}

.ebook img{
    width: 50%;
}


.thanks{
    text-align: center;
    margin-bottom: 30px;
}

.principal{
    background: #13D227;
}

.secundaria{
    background: #000000;
}

.branca{
    color:#FFFFFF;
    padding: 1rem;
}

.verde{
    color:#13D227;
    font-weight: bold;
}
ul {list-style: none}
li::before {
    content: "•";
    color:#13D227;
    display: inline-block; width: 1em;
    margin-left: -1em
}

.centralizar{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center 
}

.arcaimg{
    max-width:150px;
    max-height:100px;
    margin-top: 2rem;
    opacity: 1;   
}

.img-principal{
    top: 202px;
    left: 794px;
    width: 888px;
    height: 623px;
    background: 0% 0% no-repeat padding-box;
    opacity: 1;
}

.titulo{
    padding-top: 2rem;
    text-align: left;
}

.negrito{
    font-weight: bold;
} 

.direita{
    margin: 3rem;
}

.formulario{
    max-width: 480px;
}

.rodape{
    background: #FFFFFF;
    font-size: 13px;
    text-align: center;
    margin-top: 2rem;
}


